html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Merriweather', serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #c9af98;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ed8a63;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 56px;
  color: #3a4660;
  text-align: center;
  text-shadow: 3px 3px 1px black;
  margin: 0;
  padding: 20px 0;
}

h2 {
  color: #3a4660;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 1.5;
  color: #845007;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}